{% extends "base.html" %}

{% block content %}
    <h2>Driver List</h2>
    <table>
        <thead>
            <tr>
                <th>License Number</th>
            </tr>
        </thead>
        <tbody>
            {% for driver in object_list %}
                <tr>
                    <td><a href="{% url 'taxi:driver-detail' driver.id %}"></td>
                    <td>{{ driver.license_number }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
